<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jcex">

    <!--设置权限-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 否则不能监听每个状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SDCARD写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取WiFi状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--发送短信-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--闪光灯-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".global.JCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="android.test.runner" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--主页面-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--搜索-->
        <activity
            android:name=".ui.activity.home.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--预报订单-->
        <activity
            android:name=".ui.activity.home.ForecastOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--价格试算-->
        <activity
            android:name=".ui.activity.home.CalculatePriceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--偏远查询-->
        <activity
            android:name=".ui.activity.home.RemoteQueryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--提货申请-->
        <activity
            android:name=".ui.activity.home.DeliveryGoodsApplicationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--消息-->
        <activity
            android:name=".ui.activity.home.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--我的运单-->
        <activity
            android:name=".ui.activity.mine.MyOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--待预报-->
        <activity
            android:name=".ui.activity.mine.ToForecastOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--我的费用-->
        <activity
            android:name=".ui.activity.mine.MineCostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--物流追踪-->
        <activity
            android:name=".ui.activity.mine.OrderRecordsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--提货记录-->
        <activity
            android:name=".ui.activity.mine.MineDeliveryRecordsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--管理地址-->
        <activity
            android:name=".ui.activity.mine.MineAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--在线客服-->
        <activity
            android:name=".ui.activity.mine.ServiceOnlineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--设置-->
        <activity
            android:name=".ui.activity.mine.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--我要加盟-->
        <activity
            android:name=".ui.activity.toJoin.JoinInUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--百度地图key-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="dvue2sWcgFf7mgIQmiSG7YiRRzzokhAP" />
    </application>

</manifest>